@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-transform: uppercase;
}

h2 {
    font-size: 34px;
    padding: 16px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    max-width: 180px;
    padding: 16px;
    text-align: center;
}

.cafes ul li p{
    font-size: 12px;
}

button {
    background-color: aqua;
}